---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Daniel Araujo - Data Scientist Portfolio" description="Portfólio de Daniel Araujo, Cientista de Dados especializado em Machine Learning, Big Data e Cloud Computing. Confira meus projetos e conecte-se!">
	<Card
	  name="Daniel Araujo"
	  position="Data Scientist"
	  aboutMe={`Sou um estudante de Ciência de Dados com sólida experiência em Machine Learning, Big Data e Cloud Computing. Proficiente em Python e suas bibliotecas principais (Pandas, NumPy, Scikit-learn, TensorFlow, PyTorch), já desenvolvi soluções preditivas e em Deep Learning. Estou sempre buscando novos desafios práticos para aplicar e aprimorar minhas habilidades, focado em entregar resultados impactantes que gerem valor real para as empresas.`}
	  linkedin="https://www.linkedin.com/in/daniel-araujo-944766263/"
	  github="https://github.com/dixmene"
	  cvLink="/files/Real CV Daniel.pdf"
	  profileImage="/images/Screenshot_20240725-120009 (1).png"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
-->
